[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "deps/cargo"]
	path = deps/cargo
	url = https://github.com/JoakimSoderberg/cargo.git
