#include "resource.h"
#include <winver.h>

// IDI_ICON_FWTOOL_MAIN ICON "res/hand_driller_256.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     0, 0, 0, 1
    PRODUCTVERSION  0, 0, 0, 1
    FILEFLAGSMASK   VS_FF_PRERELEASE
#ifdef _DEBUG
    FILEFLAGS       VS_FF_DEBUG
#else
    FILEFLAGS       0x0L
#endif
    FILEOS          VOS__WINDOWS32      // Built for Windows 32 bit OS
    FILETYPE        VFT_APP             // Type of this is Application
    FILESUBTYPE     0x0L                // 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",        "www.nex-hack.info"
            VALUE "FileDescription",    "Firmware Tool for NEX and Alpha Cameras"
            VALUE "FileVersion",        "0, 0, 0, 1"
            VALUE "InternalName",       "fwtool_GUI"
            VALUE "LegalCopyright",     "Copyright (C) 2013"
            // VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename",   "fwtool_GUI.exe"
            VALUE "ProductName",        "fwtool_GUI"
            VALUE "ProductVersion",     "0, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
